---
layout: content-xtitle
title: Home
---

<div class="content-carousel text-center">
    <div>
        <h4>Welcome to Platopedia! </h4>
        <p>Platopedia now hosts the Plato Items page. Here you'll find detailed information on Plato items, concepts, private groups and more. Tap on the three lines in the top right corner of the page to start exploring. Feel free to reach us via the "Contact" menu.</p>
    </div>
    <div>
        <h4>Plato News (XX/XX/2023)</h4>
        <p>A new collection of delicious Lunar New Year items have been added to the Shop to get you in the celebratory spirit! Start of the new year with a warm heart and a full belly. Discounts on select items. Wishing you and your loved ones a peaceful and prosperous year!</p>
    </div>
    <div>
        <h4>ZZZ</h4>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
    </div>
</div>

<!--
<hr>

<div class="content-collapse">
    <div>
        <h4>XXX</h4>
        <p>XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX</p>
        <p>XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX</p>
    </div>
    <div>
        <h4>YYY</h4>
        <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
        <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
        <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
        <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
    </div>
    <div>
        <h4>ZZZ</h4>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
    </div>
</div>
-->

<hr>

<div class="content-rowcol">
    <div class="row">
        <div class="col-sm-12 col-md-4 text-center">
            {% include placeholder-image.html %}
            <h4>XXX</h4>
            <p>XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX</p>
            <p>XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX</p>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            {% include placeholder-image.html %}
            <h4>YYY</h4>
            <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
            <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
            <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
            <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            {% include placeholder-image.html %}
            <h4>ZZZ</h4>
            <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
            <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
            <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
            <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
            <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
            <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        </div>
    </div>
</div>

<hr>

<div class="content-rowcol">
    <div class="row">
        <div class="col-sm-12 col-md-4 text-center">
            {% include placeholder-image.html %}
        </div>
        <div class="col-sm-12 col-md-8">
            <h4>XXX XXX XXX</h4>
            <p>XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX</p>
            <p>XXX XXX XXX XXX XXX XXX XXX XXX XXX XXX</p>
        </div>
    </div>
</div>

<hr>

<div class="content-rowcol">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h4>YYY YYY YYY</h4>
            <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
            <p>YYY YYY YYY YYY YYY YYY YYY YYY YYY YYY</p>
        </div>
        <div class="col-sm-12 col-md-4 text-center order-first order-md-last">
            {% include placeholder-image.html %}
        </div>
    </div>
</div>

<hr>

<div class="content-rowcol">
    <div class="row">
        <div class="col-sm-12 col-md-4 text-center">
            {% include placeholder-image.html %}
        </div>
        <div class="col-sm-12 col-md-8">
            <h4>ZZZ ZZZ ZZZ</h4>
            <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
            <p>ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ ZZZ</p>
        </div>
    </div>
</div>


