<style>
.navbar .navbar-brand
{
    background              : -webkit-linear-gradient( #DFB253 25%, #176383 45%, #6F0F42 65% );
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;
}

.navbar .navbar-toggler > *
{
    background              : -webkit-linear-gradient( #DFB253 0, #DFB253 33.333%, #176383 33.333%, #176383 66.666%, #6F0F42 66.666%, #6F0F42 100% );
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;
}
</style>

<a class="navbar-brand" href="/">
    <img class="" src="/docs/assets/images/logos/newyear.png" alt="Platopedia" style="width:60px" onerror="this.style.display='none';">
    <span class="notranslate">Platopedia</span>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon">&#xf0c9;</span>
</button>