<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/items">Items</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/profilebuilder">Profile Builder</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/concepts">Concepts</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfnlIvS5IdSszb_mRDwwjkCpfZ1cCUnavCwTSvlMirMU9nUEQ/viewform" target="_blank">Contact</a>
</li>