<style>
.navbar .navbar-brand img
{
    filter         : none;
    -webkit-filter : none;
}
</style>

<a class="navbar-brand" href="/">
    <img class="" src="/docs/assets/images/logos/halloween.png" alt="Platopedia" style="width:60px" onerror="this.style.display='none';">
    <span class="notranslate">Platopedia</span>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon">&#xf0c9;</span>
</button>