<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/items">Items</a>
</li>
<!--
<li class="nav-item">
    <a class="nav-link" href="/games">Games</a>
</li>
-->
<li class="nav-item dropdown">
    <a id="navbar-content-groups" class="nav-link dropdown-toggle-x" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        Groups
    </a>
    <div class="dropdown-menu" aria-labelledby="navbar-content-groups">
        <a class="dropdown-item" href="/groups-tournament">Tournament</a>
        <a class="dropdown-item" href="/groups-trade">Trade</a>
        <a class="dropdown-item" href="/groups-other">Other</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/groups-yourgroup">Your Group</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a id="navbar-content-concepts" class="nav-link dropdown-toggle-x" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        Concepts
    </a>
    <div class="dropdown-menu" aria-labelledby="navbar-content-concepts">
        <a class="dropdown-item" href="/concepts-features">Features</a>
        <a class="dropdown-item" href="/concepts-items">Items</a>
        <a class="dropdown-item" href="/concepts-events">Events</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/concepts-yourconcept">Your Concept</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
</li>