<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/items">Items</a>
</li>
<!--
<li class="nav-item">
    <a class="nav-link" href="/games">Games</a>
</li>
-->
<li class="nav-item">
    <a class="nav-link" href="/groups">Groups</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/concepts">Concepts</a>
</li>
<li class="nav-item dropdown">
    <a id="navbar-content-contact" class="nav-link dropdown-toggle-x" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        Contact
    </a>
    <div class="dropdown-menu" aria-labelledby="navbar-content-contact">
        <a class="dropdown-item" href="/contact-contactus">Contact Us</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/contact-yourgroup">Your Group</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/contact-yourconcept">Your Concept</a>
    </div>
</li>