<style>#popup-info img { width:100%;max-width:400px }</style>
<div class="linebreak"></div>
<p>Tips and tricks when using the profile builder tool:</p>
<div class="linebreak"></div><div class="linebreak"></div>
<h2>Tip #1 - Design your profile</h2>
<p>Design your profile. Take the time to explore all of the available items and experiment with different combinations until you find the perfect theme for you.</p>
<div class="linebreak"></div><div class="linebreak"></div>
<div class="text-center"><img class="" src="/docs/assets/images/profilebuilder/info/tip1.jpg" /></div>
<div class="linebreak"></div><div class="linebreak"></div>
<h2>Tip #2 - Load and save your picture</h2>
<p>Load images via the file reader by clicking the Load button (1). Download edited images by clicking the Download button (2).</p>
<div class="linebreak"></div><div class="linebreak"></div>
<div class="text-center"><img class="" src="/docs/assets/images/profilebuilder/info/tip2.jpg" /></div>
<div class="linebreak"></div><div class="linebreak"></div>
<h2>Tip #3 - Random item</h2>
<p>Randomly select an item by clicking on the buttons adjacent to each menu.</p>
<div class="linebreak"></div><div class="linebreak"></div>
<div class="text-center"><img class="" src="/docs/assets/images/profilebuilder/info/tip3.jpg" /></div>
<div class="linebreak"></div>