---
layout: tool-content
title: Platopedia - Verification
heading: <span class="badge badge-type">Group</span>&nbsp;Verification
---

<div class="linebreak"></div>

**Author:** Fear

A special badge for influential groups or communities selected by server leaders. This concept would give much-deserved recognition to active and contributing groups. A verified group would appear at the top of the "Groups" list for all of its participants.

<div class="linebreak"></div>

<div class="content-image" data-url="/docs/assets/images/concepts/verification.png" data-width="600px" data-label=""></div>

<div class="linebreak"></div>