---
layout: content-title
title: Group / Verification @Fear
---

A special badge for influential groups or communities selected by server leaders. This concept would give much-deserved recognition to active and contributing groups. A verified group would appear at the top of the "Groups" list for all of its participants.


