/* ////////////////////////////////////////////////// */

html,
body,
.container,
.content
{
    height         : 100%;
    display        : flex;
    flex-direction : column;
}

footer
{
    height      : 0px;
    flex-shrink : 0;
}

h1
{
    margin-bottom : 0;
}

.content
{
    padding-left  : 0 !important;
    padding-right : 0 !important;
}

#tool_embed_div_default
{
    margin         : 0;
    height         : 100%;
    display        : flex;
    flex-direction : column;
}

#tool_embed_div_default iframe
{
    display          : block;
    width            : 100%;
    border           : none;
    flex-grow        : 1;
    background-color : #FFFFFF;
}

body[data-theme-forcedark="on" ][data-theme="dark" ] #tool_embed_div_default:not([data-theme])   iframe,
body[data-theme-forcedark="off"][data-theme="light"] #tool_embed_div_default:not([data-theme])   iframe,
body[data-theme-forcedark="on" ]                     #tool_embed_div_default[data-theme="dark" ] iframe,
body[data-theme-forcedark="off"]                     #tool_embed_div_default[data-theme="light"] iframe
{
    filter : none;
}

body[data-theme-forcedark="on" ][data-theme="light"] #tool_embed_div_default:not([data-theme])   iframe,
body[data-theme-forcedark="off"][data-theme="dark" ] #tool_embed_div_default:not([data-theme])   iframe,
body[data-theme-forcedark="on" ]                     #tool_embed_div_default[data-theme="light"] iframe,
body[data-theme-forcedark="off"]                     #tool_embed_div_default[data-theme="dark" ] iframe
{
    filter : invert( 100% ) hue-rotate( 180deg );
}

/* ////////////////////////////////////////////////// */


