---
layout: default
---

<style>
.nav
{
    margin    : auto;
    max-width : 600px;
}

.nav .nav-link
{
    border-bottom : 2px solid var(--color-C);
    border-radius : 0 !important;
}

.nav .nav-link:not(.active)
{
    color            : var(--color-A) !important;
    background-color : var(--color-D) !important;
}

.nav .nav-link.active
{
    color            : var(--color-D) !important;
    background-color : var(--color-A) !important;
}
</style>

<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link btn-sm {{ page.navitems }}" href="/items">Items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-sm {{ page.navprofilebuilder }}" href="/profilebuilder">Profile Builder</a>
    </li>
</ul>

<h1>{{ page.title }}</h1>
<div class="content d-none loaded-b">
    {{ content }}
</div>