<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{{ page.description }}">
        
        <title>{{ page.title }}</title>
        
        <meta name="color-scheme" content="only light">
        <meta name="theme-color" content="#FFFFFF">
        
        <link rel="stylesheet" href="/docs/assets/css/init-preload.css">
        
        <script type="text/javascript" src="/docs/assets/js/init-preload.js"></script>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.css" integrity="sha512-DkOTFL3mBrpwoH8ESok7Laa3spjRgLCU8GXtVDvRvF/9Zqcy90f6ubFkd22SvdGzSlrPhREuiccMjsP9aaBbPg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/docs/assets/css/theme.css">
        <link rel="stylesheet" href="/docs/assets/css/main.min.css">
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/docs/assets/js/util.js"></script>
        <script type="text/javascript" src="/docs/assets/js/util-theme.js"></script>
        
        <link rel="apple-touch-icon" sizes="180x180" href="/docs/assets/images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/docs/assets/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/docs/assets/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/docs/assets/images/icons/site.webmanifest">
        <link rel="mask-icon" href="/docs/assets/images/icons/safari-pinned-tab.svg" color="#343A40">
        <link rel="shortcut icon" href="/docs/assets/images/icons/favicon.ico">
        
        <meta name="apple-mobile-web-app-title" content="Platopedia">
        <meta name="application-name" content="Platopedia">
        <meta name="msapplication-TileColor" content="#343A40">
        <meta name="msapplication-config" content="/docs/assets/images/icons/browserconfig.xml">
    </head>
    <body>
        <noscript>
            <div class="alert alert-danger" role="alert">
                javascript disabled
            </div>
        </noscript>
        
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                {% include head-brand-valentine.html %}
                <div id="navbar-content" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        {% include head-menu.html %}
                    </ul>
                    <span class="navbar-text d-flex">
                        {% include head-theme.html %}
                    </span>
                </div>
            </nav>
        </header>
        
        <div class="container">
            {{ content }}
        </div>
        
        <footer class="d-none loaded-b">
            <div class="container-fluid">
                <div class="text-center">
                
                </div>
            </div>
        </footer>
        
        {% include foot-counter.html %}
    </body>
</html>