<!doctype html>
<html lang="en">
    <head>   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{{ page.description }}">
        
        <title>Platopedia - {{ page.title }}</title>
        
        <script type="text/javascript" src="/docs/assets/js/preload.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.1/dist/yeti/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/docs/assets/css/content.css">
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" src="/docs/assets/js/content.js"></script>
        
        <link rel="apple-touch-icon" sizes="180x180" href="/docs/assets/images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/docs/assets/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/docs/assets/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/docs/assets/images/icons/site.webmanifest">
        <link rel="mask-icon" href="/docs/assets/images/icons/safari-pinned-tab.svg" color="#343A40">
        <link rel="shortcut icon" href="/docs/assets/images/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="msapplication-config" content="/docs/assets/images/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body> <!--<body oncontextmenu="return false;">-->
        <noscript>
            <div class="alert alert-danger" role="alert">
                javascript disabled
            </div>
        </noscript>
    
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img class="loading align-top" src="/docs/assets/images/loading.gif" alt="" style="display:inline-block;width:70px">
                    <img class="loaded-ib align-top" src="/docs/assets/images/loaded.png" alt="" style="display:none;width:70px">
                    Platopedia
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbar-content" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        {% include menu.html %}
                    </ul>
                    <span class="navbar-text">
                        <strong>Last Updated:</strong> {% include datetime.html %}
                    </span>
                </div>
            </nav>
        </header>
        
        <div class="container">
            {{ content }}
        </div>
        
        <footer class="loaded-b" style="display:none">
            <div class="container-fluid">
                <div class="text-center">
                    <!--<i class="far fa-copyright"></i>-->
                    &nbsp;
                </div>
            </div>
        </footer>
    </body>
</html>